name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        testType: ["check", "typecheck", "test"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Node # Because strangely ESLint cares about this version
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0

      - name: Install dependencies
        run: bun install

      - name: Check
        run: bun check
        if: matrix.testType == 'check'

      - name: Typecheck
        run: bun typecheck
        if: matrix.testType == 'typecheck'

      - name: Test
        run: bun test
        if: matrix.testType == 'test'
